body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.dapp {
    height: 500px;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 7.5rem;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    border-radius: 25px;
}

.dapp p {
    font-size: 1.2rem;
    color: cornflowerblue;
}

.mood {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

.mood label {
    font-size: 1.35rem;
    margin-top: 5px;
}

.mood input[type=text] {
    border: 2px solid red;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    width: 350px;
    margin-top: 1.5rem;
}

button {
    width: 100%;
    /* margin: 10px 0px 5px 0px; */
    padding: .75rem;
    border-radius: 50px;
    background-color: burlywood;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    outline: none;
    border: transparent;
    cursor: pointer;
}

/* #showMood {
    background-color: cornflowerblue;
    color: #fff;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    border-radius: 10px;
} */

.name {
    margin-top: -1rem;
}

.name span {
    color: burlywood;
}

.socials {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.socials i {
    font-size: 2rem;
}